*{
    box-sizing: border-box;

}
body{
    margin: 0 auto;
    max-width: 1024px;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
p{
    font-family: "roboto";
    text-align: center;
    align-self: center;
}
h2{
    margin-top: 100px;
    text-align: center;
    font-family: "roboto";

}
h3{
    text-align: center;
    font-family: "roboto";
}
nav{
    font-family: "roboto";
    font-weight: 400;
    letter-spacing: .05rem;
    background-color: white;
    padding: 25px;
}
h1, .top-nav{
    text-align: center;
}
.top-nav, .top-nav li{
    width: 100%;
}
h1 a, .top-nav a{
    color: #000;
}

.top-nav{
    margin-top: 30px;
    
}
.top-nav li{
    padding: 10px 0 ;
    margin: 5px auto;
    background-color: #fff;
}
.top-nav a{
    text-transform: capitalize;
}
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.text,
.info{
    margin: 20px 20px;
}
.picture{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.container-port{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .top-nav{
        margin-top: 0;

    }
    .top-nav li{
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }
    
    .container-port{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        
    }
    .header{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: stretch;
    }
    .port{
        width: 50%;
    }
    .header{
        display: flex;
        flex-direction: row-reverse;

    }
    .picture{
        width: 90%;
        margin: 15px;
    }

    .info{
        width: 50%;
        margin-right: 20px;
        text-align: left;
    }
    .pfp{
        width: 250px;
        margin: 10px;
    }
    .heading{
        margin: auto;
        margin-bottom: 20px;
    }



}
@media (min-width: 1024px){
    nav{
        display: flex;
        position: sticky;
        top: 0;
        justify-content: space-between;
        align-items: flex-start;
    }
    .top-nav,
    .top-nav li{
        width: initial;
        margin-bottom: 0;   
    }

}